{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Vacant Job Update</legend>
                <div class="form-group">
                    {{ form.selectVac.label(class="form-control-label") }}
                    {% if form.selectVac.errors %}
                    {{ form.selectVac(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.selectVac.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.selectVac(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.NVacancy.label(class="form-control-label") }}
                    {% if form.NVacancy.errors %}
                    {{ form.NVacancy(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.NVacancy.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.NVacancy(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
</article>

{% endblock content %}