{% extends "layout.html" %}
{% block content %}
<table id="ex" class="hover" style="width:100%">
    <thead>
    <th> Email</th>
    <th> Round 1</th>
    <th> Round 2</th>
    <th> Round 3</th>
    <th> Round 4</th>
    <th> HR</th>
    <th> Offer</th>
    <th> Joined</th>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        <th> {{ item[0] }}</th>
        <th> {{ item[1] }}</th>
        <th> {{ item[2] }}</th>
        <th> {{ item[3] }}</th>
        <th> {{ item[4] }}</th>
        <th> {{ item[5] }}</th>
        <th> {{ item[6] }}</th>
        <th> {{ item[7] }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
    $('#ex').DataTable();
} );

</script>
{% endblock content %}
